
test_videos
__pycache__
__pycache__/app.cpython-312.pyc
__pycache__/main.cpython-312.pyc
gvenv
sample_videos
research
out_gun_wrist_intersection_with_size.mp4
vidw3.mp4
main.py
handler
datasets
yolov8x-pose.pt
gun_dd_f_best.pt
HORRIFIC_Body_Cam_Shows_Police_View_of_Uvalde_School_Shooting_480P.mp4
Nashville_Shooting_911_Calls_Released_From_Inside_School_720P.mp4